.brush {
  width: 50vw;
  opacity: 0;
  transform-origin: bottom right;
  position: absolute;
  top: 0;
  transform: translateY(-60rem); }
  .brush__container {
    position: relative; }

.lipstick {
  width: 25vw;
  opacity: 0;
  transform-origin: bottom center;
  position: absolute;
  top: 0;
  transform: translateY(0rem); }
  .lipstick__container {
    position: relative; }

@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Lato", "sans-serif";
  font-weight: 300;
  line-height: 1.6;
  color: #001219; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 34.375em) {
    html {
      font-size: 50%; } }

body {
  background-color: #e7ecef;
  margin: 0 !important; }

.container {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(4, 100vh);
  gap: 5rem; }
  @media only screen and (max-width: 43.75em) {
    .container {
      gap: 2rem;
      grid-template-rows: repeat(3, 100vh) 80vh; } }
  @media only screen and (max-width: 34.375em) {
    .container {
      grid-template-rows: 100vh minmax(65vh, max-content) 100vh 80vh; } }

.section {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: [full-start] repeat(10, [col-start] 1fr [col-end]) [full-end];
  overflow: hidden; }
  .section--pre {
    background-color: #d62828; }

.center {
  text-align: center; }

.delayed--appearance {
  opacity: 0;
  transform: translateX(-4rem);
  transition: all 1s ease-out; }
  .delayed--appearance.visible {
    opacity: 1;
    transform: none; }

.btn {
  font-size: 1.6rem;
  font-family: "Josefin Sans";
  background-color: #d62828;
  color: #e7ecef;
  text-transform: uppercase;
  padding: 1.5rem;
  transition: all .2s;
  border-radius: 1rem;
  border: none; }
  @media only screen and (max-width: 43.75em) {
    .btn {
      padding: 1rem;
      font-size: 1.5rem; } }
  .btn:visited, .btn:link {
    text-decoration: none; }
  .btn:hover {
    transform: translateY(-2px); }
  .btn:active {
    transform: translateY(-4px); }

.footer {
  border-top: 1px solid #d62828;
  color: #003049;
  grid-row: 5;
  grid-column: 1 / -1;
  display: block; }
  .footer__content {
    text-align: center;
    font-size: 1.6rem;
    padding: 1rem; }

.header {
  height: 100vh;
  background-size: cover;
  background-position: top; }
  .header__img {
    background-image: url("../img/pre-makeup.jpg");
    background-size: cover;
    background-position: center;
    grid-column: full-start / col-end 4; }
  .header__title {
    grid-column: col-start 5 / full-end; }

.model {
  grid-column: full-start / col-end 4;
  display: flex;
  justify-content: center;
  align-items: center; }
  .model__img {
    height: 80vh;
    width: 80%;
    background-size: cover;
    background-position: center;
    border-radius: 4rem;
    transform: translateY(5rem);
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.5); }
    .model__img--pre {
      background-image: url("../img/pre-makeup.jpg"); }
    .model__img--pos {
      background-image: url("../img/pos-makeup.jpg"); }
    @media only screen and (max-width: 43.75em) {
      .model__img {
        height: 60vh;
        width: 85%; } }
    @media only screen and (max-width: 34.375em) {
      .model__img {
        height: 50vh;
        width: 90%; } }

.definition {
  grid-column: col-start 5 / full-end;
  height: 100%;
  width: 100%;
  font-size: 4.5rem;
  font-family: "Josefin Sans";
  font-weight: 700;
  color: #003049;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem; }
  @media only screen and (max-width: 43.75em) {
    .definition {
      font-size: 3.5rem; } }
  .definition--pre {
    color: #e7ecef; }

.gallery {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(8, 11.5%);
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;
  overflow: hidden; }
  @media only screen and (max-width: 34.375em) {
    .gallery {
      grid-template-rows: repeat(16, 5.75%);
      grid-template-columns: repeat(6, 1fr); } }
  .gallery__section {
    grid-row: 3; }
  .gallery__title {
    grid-row: 4 / span 2;
    grid-column: 5 / span 2;
    align-self: center;
    justify-self: center;
    font-size: 3.5rem;
    font-family: "Josefin Sans";
    font-weight: 700;
    text-align: center;
    color: #003049; }
    @media only screen and (max-width: 43.75em) {
      .gallery__title {
        font-size: 3rem; } }
    @media only screen and (max-width: 34.375em) {
      .gallery__title {
        grid-row: 5/ span 2;
        grid-column: 3 / span 2; } }
  .gallery__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block; }
    .gallery__img--8 {
      grid-row: 1 / span 5;
      grid-column: 1 / span 2; }
      @media only screen and (max-width: 34.375em) {
        .gallery__img--8 {
          grid-row: 1 / span 4;
          grid-column: 1 / span 2; } }
    .gallery__img--13 {
      grid-row: 1 / span 4;
      grid-column: 3 / span 2; }
      @media only screen and (max-width: 34.375em) {
        .gallery__img--13 {
          grid-row: 1 / span 4;
          grid-column: 3 / span 2; } }
    .gallery__img--3 {
      grid-row: 5 / span 1;
      grid-column: 3 / span 2; }
      @media only screen and (max-width: 34.375em) {
        .gallery__img--3 {
          grid-row: 5 / span 2;
          grid-column: 1 / span 2; } }
    .gallery__img--2 {
      grid-row: 4 / span 2;
      grid-column: 7 / span 2; }
      @media only screen and (max-width: 34.375em) {
        .gallery__img--2 {
          grid-row: 13 / span 3;
          grid-column: 5 / span 2; } }
    .gallery__img--11 {
      grid-row: 6 / span 1;
      grid-column: 6 / span 1; }
      @media only screen and (max-width: 34.375em) {
        .gallery__img--11 {
          grid-row: 4 / span 3;
          grid-column: 6 / span 1; } }
    .gallery__img--12 {
      grid-row: 1 / span 3;
      grid-column: 5 / span 2; }
    .gallery__img--6 {
      grid-row: 7 / span 2;
      grid-column: 6 / span 1; }
      @media only screen and (max-width: 34.375em) {
        .gallery__img--6 {
          grid-row: 7 / span 3;
          grid-column: 6 / span 1; } }
    .gallery__img--4 {
      grid-row: 6 / span 3;
      grid-column: 1 / span 4; }
      @media only screen and (max-width: 34.375em) {
        .gallery__img--4 {
          grid-row: 7 / span 3;
          grid-column: 1 / span 4; } }
    .gallery__img--5 {
      grid-row: 6 / span 3;
      grid-column: 7 / span 2; }
      @media only screen and (max-width: 34.375em) {
        .gallery__img--5 {
          grid-row: 13 / span 3;
          grid-column: 3 / span 2; } }
    .gallery__img--9 {
      grid-row: 6 / span 3;
      grid-column: 5 / span 1; }
      @media only screen and (max-width: 34.375em) {
        .gallery__img--9 {
          grid-row: 4 / span 6;
          grid-column: 5 / span 1; } }
    .gallery__img--10 {
      grid-row: 1 / span 3;
      grid-column: 7 / span 4; }
      @media only screen and (max-width: 34.375em) {
        .gallery__img--10 {
          grid-row: 10 / span 3;
          grid-column: 3 / span 4; } }
    .gallery__img--1 {
      grid-row: 4 / span 5;
      grid-column: 9 / span 2; }
      @media only screen and (max-width: 34.375em) {
        .gallery__img--1 {
          grid-row: 10 / span 6;
          grid-column: 1 / span 2; } }

.navigation {
  position: absolute;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
  color: #e7ecef;
  font-weight: 700; }
  .navigation__pos {
    color: #003049; }
    .navigation__pos .navigation__item:hover, .navigation__pos .navigation__item:active {
      transform: translateY(-1px);
      background-color: #d62828;
      color: #e7ecef; }
  .navigation__list {
    list-style: none; }
  .navigation__item {
    float: left;
    padding: 2rem;
    font-size: 1.6rem;
    transition: all .5s ease-in;
    cursor: pointer; }
    .navigation__item:hover, .navigation__item:active {
      transform: translateY(-1px);
      background-color: #eae2b7;
      color: #003049; }

.testimonial {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, minmax(30%, min-content));
  gap: 2rem;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  color: #003049;
  text-align: center; }
  .testimonial__section {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    align-items: center;
    justify-items: center;
    gap: 1rem; }
    @media only screen and (max-width: 34.375em) {
      .testimonial__section {
        grid-template-rows: repeat(4, minmax(5rem, min-content)); } }
  .testimonial__info {
    grid-column: 2 / span 1;
    grid-row: 1 / -1;
    background-image: linear-gradient(to bottom, rgba(214, 40, 40, 0.9), rgba(214, 40, 40, 0.7)), url("../img/kit-2.jpg");
    background-size: cover;
    width: 80%;
    height: 80%;
    border-radius: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }
    @media only screen and (max-width: 43.75em) {
      .testimonial__info {
        width: 85%;
        height: 60%; } }
    @media only screen and (max-width: 34.375em) {
      .testimonial__info {
        grid-column: 1 / -1;
        grid-row: 1;
        background-image: none; } }
  .testimonial__title {
    font-family: "Josefin Sans";
    font-weight: 700;
    font-size: 5rem;
    padding: 1rem;
    color: #e7ecef; }
    @media only screen and (max-width: 62.5em) {
      .testimonial__title {
        font-size: 4rem; } }
    @media only screen and (max-width: 43.75em) {
      .testimonial__title {
        font-size: 3rem; } }
    @media only screen and (max-width: 34.375em) {
      .testimonial__title {
        color: #003049; } }
  .testimonial--1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3; }
    @media only screen and (max-width: 34.375em) {
      .testimonial--1 {
        grid-column: 1 / -1;
        grid-row: 2; } }
  .testimonial--2 {
    grid-column: 3 / span 1;
    grid-row: 3 / span 3; }
    @media only screen and (max-width: 34.375em) {
      .testimonial--2 {
        grid-column: 1 / -1;
        grid-row: 3; } }
  .testimonial--3 {
    grid-column: 1 / span 1;
    grid-row: 5 / span 3; }
    @media only screen and (max-width: 34.375em) {
      .testimonial--3 {
        grid-column: 1 / -1;
        grid-row: 4; } }
  .testimonial__text {
    grid-column: 1 / -1;
    font-size: 1.7rem;
    font-weight: 700;
    font-family: "Josefin Sans";
    text-align: center;
    align-self: center;
    color: #001219;
    padding: .5rem; }
  .testimonial__img {
    grid-column: 1 / 2;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    justify-self: end;
    border: 1px solid #003049; }
  .testimonial__person {
    grid-column: 2 / 3;
    justify-self: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
  .testimonial__name {
    font-size: 1.6rem;
    font-weight: 700; }
  .testimonial__job {
    font-size: 1.5rem; }

.contact__section {
  grid-row: 4;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-items: center;
  align-items: center; }

.contact__img {
  grid-column: 6 / -1;
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 4rem; }
  @media only screen and (max-width: 43.75em) {
    .contact__img {
      height: 60%;
      width: 85%; } }

.contact__info {
  grid-column: 1 / span 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 85%;
  border-radius: 2rem; }

.contact__title {
  font-size: 5rem;
  font-weight: 700;
  font-family: "Josefin Sans";
  color: #003049; }
  @media only screen and (max-width: 43.75em) {
    .contact__title {
      font-size: 3rem; } }

.contact__btn {
  margin-top: 5rem; }
