.brush{
    width: 50vw;
    opacity: 0;
    transform-origin: bottom right;
    position: absolute;
    top: 0;
    transform: translateY(-60rem);

    &__container{
        position: relative;
    }
}

.lipstick{
    width: 25vw;
    opacity: 0;
    transform-origin: bottom center;
    position: absolute;
    top: 0;
    transform: translateY(0rem);

    &__container{
        position: relative;
    }
}


@keyframes moveFromTop {
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveFromLeft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}