$color-black: #0B0C10;
$color-white: #fff;

$color-grey-dark: #1F2833;
$color-grey-light: #C5C6C7;

$color-primary-light: #66FCF1;
$color-primary-dark: #45A29E;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-small: 3rem;


$font-family-title: 'Goblin One';
$font-family-text: 'Raleway';

$mq-largest: 87.5em;
$mq-large: 78.15em;
$mq-medium: 65em;
$mq-small: 37.5em;


 *,
 *::before,
 *::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; // 10 px / 16px (standard browser size) = 62.5% -> 1 rem = 10px
    font-family: $font-family-text, "sans-serif";
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;

    @media only screen and (max-width: $mq-largest){
        font-size: 56.25%;
    }

    @media only screen and (max-width: $mq-largest){
        font-size: 50%;
    }
}

body{
    background-color: oldlace;
}

