.header{
    height: 100vh;
    background-size: cover;
    background-position: top;
    
    &__img{
        background-image: url('../img/pre-makeup.jpg');
        background-size: cover;
        background-position: center;
        grid-column: full-start / col-end 4;
    }

    &__title{
        grid-column: col-start 5 / full-end;
    }
}