.social{
    margin-top: 10rem;

    &__item{
        margin-top: 2rem;
        width: 60%;
        background-color: $color-white;
        box-shadow: 0 1rem 3rem rgba($color-black, .5); 
        border-radius: 2rem;
        margin-bottom: 3rem !important;
    }

    &__text{
        padding-top: 3rem;
        color: $color-grey-dark;
        font-size: 1.8rem;
        
    }

    &__comment{        
        padding: 1rem;
        margin-left: .5rem;
        margin-top: .5rem;
        font-size: 1.9rem;
        text-align: justify;

        @media only screen and (max-width: $mq-largest){
            font-size: 1.8rem;
        }

        @media only screen and (max-width: $mq-large){
            font-size: 1.8rem;
            padding-right: .5rem;
        }
    }

    &__writer{
        text-align: center;
        width: 100%;
        margin: 0 auto;
        margin-right: 0 !important;
        border-right: 1px solid $color-grey-light;

        @media only screen and (max-width: $mq-medium){
            border-right: none;
            border-bottom: 1px solid $color-grey-light;
            margin-bottom: 0 !important;
        }
    }

    &__img{
        margin: 0 auto;
        height: 15rem;
        width: 15rem;
        border-radius: 50%;
        padding: 1rem;
        object-fit: cover;
        display: block;
    }

    &__person{
        font-size: 1.5rem;
        padding: 1rem;
    }

    &__name{
        display: block;
        font-size: 1.7rem;
    }

    &__job{
        color: $color-primary-dark;
    }
    
}