
.center{
    text-align: center;
}

.delayed--appearance{
    opacity: 0;
    transform: translateX(-4rem);
    transition: all 1s ease-out;

    &.visible{
        opacity: 1;
        transform: none;
    }
}

.btn{
    font-size: 1.6rem;
    font-family: $font-display;
    background-color: $color-red;
    color: $color-grey;
    text-transform: uppercase;
    padding: 1.5rem;
    transition: all .2s;
    border-radius: 1rem;
    border: none;
    
    @media only screen and (max-width: $mq-medium){
        padding: 1rem;
        font-size: 1.5rem;
    }

    &:visited, 
    &:link{
        text-decoration: none;
    }

    &:hover{
        transform: translateY(-2px);
    }

    &:active{
        transform: translateY(-4px);
    }
}